

<div class="max-w-xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h3 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2">
    Informações do Notebook
  </h3>

  <ul class="space-y-4 text-gray-700">
    <li><span class="font-semibold">Identificador:</span> <%= @equipment.identifier %></li>
    <li><span class="font-semibold">Marca:</span> <%= @equipment.brand %></li>
    <li><span class="font-semibold">Modelo:</span> <%= @equipment.model %></li>
    <li><span class="font-semibold">Nº Patrimônio:</span> <%= @equipment.patrimony_number %></li>
    <li><span class="font-semibold">Nº Serie:</span> <%= @equipment.serial_number %></li>
    <li><span class="font-semibold">Data de Compra:</span> <%= @equipment.purchase_date.strftime("%d/%m/%Y") %></li>
    <li><span class="font-semibold">Data de Fabricação:</span> <%= @equipment.manufacture_date.strftime("%d/%m/%Y") %></li>
    <li><span class="font-semibold">Descrição:</span> <%= @equipment.description %></li>
    <li><span class="font-semibold">Status:</span> <%= @equipment.status_before_type_cast %>
    <li><span class="font-semibold">Colaborador Atual:</span> <%= @equipment.loaned_for %>
    </li>

    <% if @equipment.invoice_pdf.attached? %>
      <li>
        <span class="font-semibold">Nota Fiscal (PDF):</span>
        <div class="mt-1 flex items-center">
          <%= link_to "Baixar Nota Fiscal", 
                      rails_blob_path(@equipment.invoice_pdf, disposition: "attachment"),
                      class: "text-blue-600 hover:underline" %>
        </div>
      </li>
    <% end %>


  </ul>

  <div class="mt-6 flex justify-between">
    <%= link_to "Editar Notebook", edit_equipment_path(@equipment),
      class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>

    <%= button_to "Deletar Notebook", equipment_path(@equipment),
      method: :delete,
      data: { confirm: "Tem certeza que deseja excluir este notebook?" },
      class: "bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded" %>
  </div>
</div>





<div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-md shadow-md">
  <h3 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2 text-center">
    Histórico de Empréstimos
  </h3>
  
  <%= render 'filter_form', q: @q, url: equipment_path(@equipment) %>
  
</div>




<div class="max-w-5xl mx-auto mt-8 p-4 bg-white rounded-md shadow-md">

  <%= render 'loans_table', loans: @filtered_loans.order(created_at: :desc) %>
  
  <div class="mt-6 text-right">
    <%= link_to 'Voltar para equipamentos', equipment_index_path, class: "inline-block bg-gray-600 text-white font-semibold py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>