<p style="color: green"><%= notice %></p>



<div class="max-w-4xl mx-auto p-6 bg-white rounded-md shadow-md">
  <h1 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2 text-center">Colaboradores</h1>
  <%= search_form_for @q, class: "grid grid-cols-1 md:grid-cols-3 gap-4" do |e| %>
    
    <div>
      <%= e.label :name_cont, "Nome", class: "block text-sm font-medium text-gray-700" %>
      <%= e.search_field :name_cont, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
    </div>

    <div>
      <%= e.label :email_cont, "Email", class: "block text-sm font-medium text-gray-700" %>
      <%= e.search_field :email_cont, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
    </div>

    <div>
      <%= e.label :department_cont, "Setor", class: "block text-sm font-medium text-gray-700" %>
      <%= e.search_field :department_cont, class: "mt-1 block w-full border border-gray-300 rounded-md p-2" %>
    </div>

    <div class="md:col-span-3 flex justify-start items-center gap-4 mt-4">
      <%= e.submit "Filtrar", class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>
      <%= link_to "Limpar Filtros", url_for(only_path: false, overwrite_params: nil), class: "text-gray-600 underline hover:text-gray-900" %>
    </div>

  <% end %>
</div>




<div class="max-w-5xl mx-auto mt-8 p-4 bg-white rounded-md shadow-md">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Nome</th>
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Email</th>
        <th class="px-6 py-3 text-left text-sm font-medium text-gray-700">Setor</th>
      </tr>
    </thead>

    <tbody class="bg-white divide-y divide-gray-200">
      <% @collaborators.each do |collaborator| %>
        <tr class="hover:bg-gray-50">
          <td class="px-6 py-4 whitespace-nowrap">
            <%= link_to collaborator.name, collaborator, class: "text-blue-600 hover:underline" %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap"><%= collaborator.email %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= collaborator.department %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-6 flex justify-center">
    <%= paginate @collaborators, theme: 'tailwind' %>
  </div>

  <div class="mt-6 text-right">
    <%= link_to "Novo colaborador", new_collaborator_path,
      class: "inline-block bg-green-600 text-white font-semibold py-2 px-4 rounded hover:bg-green-700" %>
  </div>
</div>

