<div class="max-w-xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2">
    Informações do Colaborador
  </h2>

  <ul class="space-y-4 text-gray-700">
    <li>
      <span class="font-semibold">Nome:</span> <%= @collaborator.name %>
    </li>
    <li>
      <span class="font-semibold">Email:</span> <%= @collaborator.email %>
    </li>
    <li>
      <span class="font-semibold">Setor:</span> <%= @collaborator.department %>
    </li>
  </ul>

  <div class="mt-6 flex justify-between">
    <%= link_to "Editar Colaborador", edit_collaborator_path(@collaborator),
      class: "bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>

    <%= button_to "Deletar Colaborador", collaborator_path(@collaborator),
      method: :delete,
      data: { confirm: "Tem certeza que deseja excluir este colaborador?" },
      class: "bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded" %>
  </div>
</div>

  
<div class="max-w-4xl mx-auto mt-10 p-6 bg-white rounded-md shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-6 border-b pb-2">
    Histórico de Empréstimos
  </h2>
  <%= render 'filter_form', q: @q, collaborador: @collaborador %>
</div>


<div class="max-w-5xl mx-auto mt-8 p-4 bg-white rounded-md shadow-md">

    <%= render 'loans_table', collaborator: @collaborator, filtered_loans: @filtered_loans %>
  
  <div class="mt-6 text-right">
    <%= link_to 'Voltar para colaboradores', collaborators_path, class: "inline-block bg-gray-600 text-white font-semibold py-2 px-4 rounded hover:bg-gray-700" %>
  </div>
</div>