<div id="<%= dom_id loan %>">
  <p>
    <strong>Equipment:</strong>
    <%= loan.equipment_id %>
  </p>

  <p>
    <strong>Collaborator:</strong>
    <%= loan.collaborator_id %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= loan.action %>
  </p>

  <p>
    <strong>Loan date:</strong>
    <%= loan.loan_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= loan.return_date %>
  </p>

  <p>
    <strong>Return reason:</strong>
    <%= loan.return_reason %>
  </p>

  <p>
    <strong>Discard date:</strong>
    <%= loan.discard_date %>
  </p>

  <p>
    <strong>Discard reason:</strong>
    <%= loan.discard_reason %>
  </p>

</div>
