<!DOCTYPE html>
<html>
  <head>
    <title>Notebooks Fec</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-800 min-h-screen flex flex-col" >
    <!-- Cabeçalho -->
    <%= render "shared/header" %>

    <!-- Flashes -->
    <%= render "shared/flash" %>


    <main class=" prose flex-1 container mx-auto px-6 py-8">
      <%= yield %>
    </main>

  </body>


  </body>
</html>
